/*Colors and fonts */ 

body {
	font-family: Times,serif;
	background-color: #F2EAE0;
	color: #404040;
}

a { 
	text-decoration:  none;
	color: #9A834C;
}
a:hover {
	color: #CF8262;

}

#Mathilde {
  width: 160px;
  border-radius: 50%;
  box-shadow: 4px 4px 7px grey;
}

h1 {
	text-justify:  center;
	letter-spacing: 1.5px;
}

h2 {
	color: #CF8262;
}

/* Custom design with class*/

.container {
	width: 700px;
	margin: 40px auto;
}

.box-white {
	box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 4px;
    padding: 40px;
    margin: 20px 0px;
    background-color: #FFFBF6;
    text-align: center;  }

.btn-pink {

	background-color: #E7BFA7;
	color: white;
	padding: 10px 20px;
	border-radius: 4px;
}

.list-inline {
	list-style: none;
	padding-left: 0px;

}
.list-inline li {
	display: inline;
	padding: 10px;

}

.list-inline i {

font-size: 50px;
color: rgb(230, 230, 230);
}

.list-inline i:hover {
color:  #E7BFA7;
}

#introduction p {
margin-bottom: 30px;
}